<footer class="footer">
  <div class="footer-inner">
    <div class="footer-top">
      <div class="footer-left">
        <h4>Disclaimer</h4>
        <p>
          All photos were taken in locations where I had permission to be.<br />
          All photos were taken safely.
        </p>
      </div>

      <div class="footer-right">
        <div class="icons">
          <a href="https://instagram.com/trainbelgium" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>

          <a href="https://tiktok.com/@trainbelgium" target="_blank">
            <i class="fa-brands fa-tiktok"></i>
          </a>

          <a href="https://youtube.com/@trainbelgium-com" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>

          <a
            href="https://www.facebook.com/profile.php?id=61579983309143"
            target="_blank"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>

          <a
            href="https://www.flickr.com/photos/204201417@N07/"
            target="_blank"
          >
            <i class="fa-brands fa-flickr"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">© 2026 trainbelgium</div>
  </div>
</footer>
