<footer class="footer">

<h4>Disclaimer</h4>

<p>
All photos were taken in places where you are allowed to go.<br>
All photos were taken safely.<br><br>
© 2026 trainbelgium
</p>

<div class="icons">

<a href="https://www.instagram.com/trainbelgium">
<i class="fa fa-instagram"></i>
</a>

<a href="https://www.facebook.com">
<i class="fa-brands fa-facebook"></i>
</a>

<a href="https://www.tiktok.com">
<i class="fa-brands fa-tiktok"></i>
</a>

<a href="https://www.youtube.com">
<i class="fa-brands fa-youtube"></i>
</a>

</div>

</footer>